
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Aero Matics';
    src: url('../font/AeroMaticsBold.woff2') format('woff2'),
        url('../font/AeroMaticsBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics Display';
    src: url('../font/AeroMaticsDisplayBoldItalic.woff2') format('woff2'),
        url('../font/AeroMaticsDisplayBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics Display';
    src: url('../font/AeroMaticsDisplayLightRegular.woff2') format('woff2'),
        url('../font/AeroMaticsDisplayLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics Display';
    src: url('../font/AeroMaticsDisplayItalic.woff2') format('woff2'),
        url('../font/AeroMaticsDisplayItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics Display';
    src: url('../font/AeroMaticsDisplayBold.woff2') format('woff2'),
        url('../font/AeroMaticsDisplayBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('../font/AeroMaticsBoldItalic.woff2') format('woff2'),
        url('../font/AeroMaticsBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics Display';
    src: url('../font/AeroMaticsDisplayLightItalic.woff2') format('woff2'),
        url('../font/AeroMaticsDisplayLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('../font/AeroMaticsItalic.woff2') format('woff2'),
        url('../font/AeroMaticsItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('../font/AeroMaticsRegular.woff2') format('woff2'),
        url('../font/AeroMaticsRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics Display';
    src: url('../font/AeroMaticsDisplayRegular.woff2') format('woff2'),
        url('../font/AeroMaticsDisplayRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('../font/AeroMaticsLightItalic.woff2') format('woff2'),
        url('../font/AeroMaticsLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Aero Matics';
    src: url('../font/AeroMaticsLightRegular.woff2') format('woff2'),
        url('../font/AeroMaticsLightRegular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}




